.monthtitle {
    float:right;
}
.april > .monthtitle {
    margin: 0px 10px 10px 10px;
}
.april  h1 {
    margin-top: 0;
}
.monthtitle > select {
    float: right;
    height: 20px;
    margin-right: 25px;
    margin-top: 10px;
}

.april  h1 {
    transform: translateX(20px) translateY(3px);
}

